<li>
{{post-popularity post}}<p>{{#link-to 'post' post.id}}{{post.author}}'s question: "{{post.question}}"{{/link-to}}</p>

<button class="button_favorite" {{action 'addToFavorite' post}}>Add to Favorites</button>
</li>
