body {
  background-image:url('/images/cosmic.jpg');
}

ul {
  list-style-type: none;
  text-align: center;
}

.header {
  border: solid 1px black;
  margin-top: 5px;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: #dbdbdb;
}

.jumbotron {
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.jumbotron h1 {
  font-family: 'Abel', sans-serif;
  color: lightgray;
  font-size: 100px;
  text-align: center;
}

.jumbotron h4 {
  font-size: 30px;
  text-align: center;
  color: lightgray;
}

#introduction {
  text-align: center;
}

#footer {
  margin-top: 50px;
  font-family: 'Abel', sans-serif;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

h5 {
  color: white;
  text-shadow: 0px 3px 3px black;
  font-size: 20px;
  margin: 20px;

}

col-sm-9 h6 {
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
  background-color: white;
}

p {
  margin: 10px;
  font-size: 20px;
}

a {
  color: darkgray;
}

footer {
  text-align: center;
  text-shadow: 1px 1px 15px white;
}

li {
  background-color: #dbdbdb;
  border: solid 1px black;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  text-shadow: 1px 1px lightgray;
}

#comment {
 color: black;
}

li a {
  color: black;
}

/*Button CSS Starts Here*/

button {
  margin: 10px;
}

.button_delete{
  border-top-color: #000000;border-right-color: #000000;border-bottom-color: #E08080;border-left-color: #000000;border-width: 0px 0px 6px 0px;border-style: solid; -webkit-border-radius: 33px; -moz-border-radius: 33px;border-radius: 33px;font-size:18px;font-family: 'Abel', sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #191919;
   background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
   background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
   background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
   background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
   background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
   background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.button_delete:hover{
  border-top-color: #819BCB;border-right-color: #819BCB;border-bottom-color: #FF0000;border-left-color: #819BCB;border-width: 0px 0px 6px 0px;border-style: solid;
  background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#b3b3b3));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #b3b3b3);
  background-image: -moz-linear-gradient(top, #FFFFFF, #b3b3b3);
  background-image: -ms-linear-gradient(top, #FFFFFF, #b3b3b3);
  background-image: -o-linear-gradient(top, #FFFFFF, #b3b3b3);
  background-image: linear-gradient(to bottom, #FFFFFF, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#b3b3b3);
}

.button_newpost{
  margin-left: 40px;
  border-top-color: #819BCB;border-right-color: #819BCB;border-bottom-color: #BFE6FF;border-left-color: #819BCB;border-width: 0px 0px 6px 0px;border-style: solid; -webkit-border-radius: 25px; -moz-border-radius: 25px;border-radius: 25px;font-size:20px;font-family: 'Abel', sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
  background-color: #FAF5F2; background-image: -webkit-gradient(linear, left top, left bottom, from(#FAF5F2), to(#C9C8C7));
  background-image: -webkit-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: -moz-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: -ms-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: -o-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: linear-gradient(to bottom, #FAF5F2, #C9C8C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FAF5F2, endColorstr=#C9C8C7);
}

.button_newpost:hover{
  border-top-color: #819BCB;border-right-color: #819BCB;border-bottom-color: #6DAFC2;border-left-color: #819BCB;border-width: 0px 0px 6px 0px;border-style: solid;
  background-color: #FAF5F2; background-image: -webkit-gradient(linear, left top, left bottom, from(#FAF5F2), to(#C9C8C7));
  background-image: -webkit-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: -moz-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: -ms-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: -o-linear-gradient(top, #FAF5F2, #C9C8C7);
  background-image: linear-gradient(to bottom, #FAF5F2, #C9C8C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FAF5F2, endColorstr=#C9C8C7);
}

.button_favorite{
  border-color:#919191;border-width: 1px 1px 1px 15px;border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size: 15px;font-family: 'Abel', sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
  background-image: -webkit-linear-gradient(top, #45484d, #000000);
  background-image: -moz-linear-gradient(top, #45484d, #000000);
  background-image: -ms-linear-gradient(top, #45484d, #000000);
  background-image: -o-linear-gradient(top, #45484d, #000000);
  background-image: linear-gradient(to bottom, #45484d,#000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d,endColorstr=#000000);
}

.button_favorite:hover{
  border-top-color: #A1A1A1;border-right-color: #A1A1A1;border-bottom-color: #A1A1A1;border-left-color: #A1A1A1;border-width: 1px 15px 1px 1px;border-style: solid;
  background-color: #2d2f32; background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2f32), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #2d2f32, #1a1a1a);
  background-image: -moz-linear-gradient(top, #2d2f32, #1a1a1a);
  background-image: -ms-linear-gradient(top, #2d2f32, #1a1a1a);
  background-image: -o-linear-gradient(top, #2d2f32, #1a1a1a);
  background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}

.btn-success {
    margin-left: 45px;
}

/*Button CSS Ends Here*/

.col-sm-9 {
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
}
.col-sm-2 {
  text-align: center;
}
.col-sm-2 a {
  color: #4f4f4f;
  font-weight: bold;
  text-shadow: 1px 1px 5px white;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

#postdetails {
  color: lightgray;
  text-align: center;
}

#about {
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
#contact {
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#favorites {
  text-align: center;
}

#favorites li {
  background-color: #dbdbdb;
  border: solid 1px black;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  text-shadow: 1px 1px lightgray;
  list-style-type: none;
}

#newpost {
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.glyphicon-fire {
  padding-top: 5px;
  color: black;
}
