body {
  background-image:url('/images/cosmic.jpg');
}

ul {
  list-style-type: none;
  text-align: center;
}

.header {
  border: solid 1px black;
  margin-top: 5px;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: #dbdbdb;
}

.jumbotron {
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.jumbotron h1 {
  font-family: 'Abel', sans-serif;
  color: lightgray;
  font-size: 100px;
  text-align: center;
}

.jumbotron h4 {
  font-size: 30px;
  text-align: center;
  color: lightgray;
}

#introduction {
  text-align: center;
}

#footer {
  margin-top: 50px;
  font-family: 'Abel', sans-serif;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

h5 {
  color: white;
  text-shadow: 0px 3px 3px black;
  font-size: 20px;
  margin: 20px;

}

col-sm-9 h6 {
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
  background-color: white;
}

p {
  margin: 10px;
  font-size: 20px;
}

a {
  color: darkgray;
}

footer {
  text-align: center;
  text-shadow: 1px 1px 15px white;
}

li {
  background-color: #dbdbdb;
  border: solid 1px black;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  text-shadow: 1px 1px lightgray;
}

#comment {
 color: black;
}

li a {
  color: black;
}

button {
  margin: 10px;
}

.btn-lg {
  margin: 20px;
}

.btn-danger {
  color: #ffffff;
  background-color: #7A86BF;
  border-color: #7B7FC7;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #7A2474;
  border-color: #7B7FC7;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #7A86BF;
  border-color: #7B7FC7;
}

.btn-danger .badge {
  color: #7A86BF;
  background-color: #ffffff;
}

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

.button_favorite{
border-color:#919191;border-width: 1px 1px 1px 15px;border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
 background-image: -webkit-linear-gradient(top, #45484d, #000000);
 background-image: -moz-linear-gradient(top, #45484d, #000000);
 background-image: -ms-linear-gradient(top, #45484d, #000000);
 background-image: -o-linear-gradient(top, #45484d, #000000);
 background-image: linear-gradient(to bottom, #45484d, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}

.button_favorite:hover{
 border-top-color: #A1A1A1;border-right-color: #A1A1A1;border-bottom-color: #A1A1A1;border-left-color: #A1A1A1;border-width: 1px 15px 1px 1px;border-style: solid;
 background-color: #2d2f32; background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2f32), to(#1a1a1a));
 background-image: -webkit-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -moz-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -ms-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -o-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}

.col-sm-9 {
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
}
.col-sm-2 {
  text-align: center;
}
.col-sm-2 a {
  color: #4f4f4f;
  font-weight: bold;
  text-shadow: 1px 1px 5px white;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

#postdetails {
  color: lightgray;
  text-align: center;
}

#about {
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
#contact {
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.glyphicon-fire {
  padding-top: 5px;
  color: black;
}
