body {
  background-image:url('/images/bg.png');
  background-repeat: repeat-x;
}

ul {
  list-style-type: none;
  text-align: center;
}

.container {
  margin-top: 50px;
  text-align: center;
  background-image:url('/images/container.png');
  background-repeat: repeat-x;
  border: solid black 1px;
  -webkit-box-shadow: 0px 17px 34px -2px rgba(21,71,69,1);
  -moz-box-shadow: 0px 17px 34px -2px rgba(21,71,69,1);
  box-shadow: 0px 17px 34px -2px rgba(21,71,69,1);
}

.container h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

.jumbotron {
  border: solid 1px black;
  background-color: #63E9E8;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  -webkit-box-shadow: 0px 17px 34px -2px rgba(21,71,69,1);
  -moz-box-shadow: 0px 17px 34px -2px rgba(21,71,69,1);
  box-shadow: 0px 17px 34px -2px rgba(21,71,69,1);
}

.jumbotron h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
}

.jumbotron h4 {
  font-size: 30px;
}

#footer {
  margin-top: 50px;
  font-family: 'Coiny', cursive;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 28px;
}

h4 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 25px;
}

p {
  margin: 10px;
  font-size: 20px;
}

a {
  color: #0b4447;
}

footer {
  text-align: center;
}

li {
  background-color: white;
  border: solid 1px black;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
}

button {
  margin: 10px;
}

.btn-lg {
  margin: 20px;
}

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
