<div id="about">
  <h2>About the QA Board</h2>

  <p>This QA Board was created by Addison Nishijima for their Ember week independent project at Epicodus.</p>

   <p>Users can add posts with a question, update the post, and delete the post.</p>

   <p>Users may also answer questions as well as delete their answers.</p>
 </div>
