<div class="jumbotron">
  <h1>QA Board</h1>
  <h4>{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}</h4>
</div>
<div class="row">
{{outlet}}
</div>
<div id="footer">
  <footer>
    <h4>&copy; Addison Nishijima 2016</h4>
  </footer>
</div>
