<div class="container">
  <header class="jumbotron">
    <h1>QA Board</h1>
    <h4>{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}</h4>
  </header>
  <div class="row">
  {{outlet}}
  </div>
  <footer>
    <h4>Addison Nishijima</h4>
  </footer>
</div>
