<h1>Welcome to the QA Board</h1>
<p>Please be polite and respect others when asking and answering questions</p>

<ul>
  {{#each model.posts as |post|}}
  {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post savePost2="savePost3"}}
