<div class="col-sm-1">
</div>
<div class="col-sm-9" id="postdetails">
<h2>Post Details:</h2>
{{update-post post=model update="update"}}
{{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment"}}

{{new-comment saveComment="saveComment" post=model}}
</div>
<div class="col-sm-2">
</div>
